@page
@model Web.Pages.MaintenanceData.Schedules.IndexModel

@{
    ViewData["Title"] = "Schedules";
}

<h1>
    <i class="float-right fas fa-clock"></i>
    Schedules
</h1>

<div class="float-right">
    <a asp-page="Create" class="btn btn-outline-success">
        <i class="fas fa-plus-circle"></i>
        Create New
    </a>
</div>

<form asp-page="./Index" method="get" class="form-inline pb-2">
    <div class="form-actions no-color">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Search:</span>
            </div>
            <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    Search
                </button>
                <a role="button" class="btn btn-secondary" asp-page="./Index">
                    <i class="fas fa-search-minus"></i>
                    Clear
                </a>
            </div>
        </div>
    </div>
</form>

@if (Model.Schedule.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Frequency
                </th>
                <th>
                    Interval
                </th>
                <th>
                    Enabled
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Schedule)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Frequency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduleInterval.ScheduleIntervalName)
                    </td>
                    <td>
                        @(item.Enabled ? "Enabled" : "\u2014")
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a asp-page="./Edit" asp-route-id="@item.ScheduleId" class="btn btn-outline-secondary text-nowrap">
                                <i class="fas fa-edit fa-sm"></i>
                                Edit
                            </a>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-page="./Delete" asp-route-id="@item.ScheduleId" class="dropdown-item text-nowrap text-danger">
                                    <i class="fas fa-trash fa-sm"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i>
        There are no schedules configured
    </div>
}

@{
    var prevDisabled = !Model.Schedule.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Schedule.HasNextPage ? "disabled" : "";
}

<div class="alert alert-secondary">
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Schedule.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled">
        <i class="fas fa-chevron-left"></i>
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Schedule.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled">
        Next
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
